body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}
header {
  display: block;
  height: 5vh;
  overflow: auto;
  background-color: #EEE;
  color: red;
  font-size: 1.5rem;
}
 .container {
   height: 95vh;
   display: flex;
 }

 pre {
   background-color: #DDD;
 }

 pre, textarea {
   width: 50%;
   font-family: monospace;
   font-size: 1.5rem;
   margin: 0;
   padding: 10px;
   color: #222;
 }

 textarea:focus { outline: 0;}