body {
	background-color: #fec3d8;
}

.text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    background-color:white;
}


.text1 {
    position: absolute;
    top: 70%;
    left: 25%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 40px;
    color: white;
    

}


.text2 {
    position: absolute;
    top: 70%;
    right: 25%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: white;

}


.p {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 100px;
	height: 100px;
	background-color: purple;
	opacity: 0.5;
	border-radius: 50%;
}
	.p:hover {
		opacity: 1;
		transition: 1s;
	}

.b1 {
	position: absolute;
	top: 50%;
	left: 34%;
	width: 100px;
	height: 100px;
	background-color: blue;
	opacity: 0.5;
	border-radius: 50%;
}

	.b1:hover {
		opacity: 1;
		transition: 1s;
	}

.b2 {
	position: absolute;
	top: 50%;
	right: 34%;
	width: 100px;
	height: 100px;
	background-color: blue;
	opacity: 0.5;
	border-radius: 50%;
}

	.b2:hover {
		opacity: 1;
		transition: 1s;
	}

.g {
	position: absolute;
	top: 50%;
	right: 25%;
	width: 100px;
	height: 100px;
	background-color: green;
	opacity: 0.5;
	border-radius: 50%;
}

	.g:hover {
		opacity: 1;
		transition: 1s;
	}
