body {
	background-color: #fedace;
}

.text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}




.A {
	position: absolute;
	top: 33%;
	left: 10%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #fdefd6;
}

.B {
	position: absolute;
	top: 33%;
	left: 33%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #fadbac;
}

.C {
	position: absolute;
	top: 48%;
	left: 10%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #f7dabd;
}

.D {
	position: absolute;
	top: 48%;
	left: 33%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #ecb07d;
}

.E {
	position: absolute;
	top: 63%;
	left: 10%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #edbc9b;
}

.F {
	position: absolute;
	top: 63%;
	left: 33%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #df9c5d;
}

.G {
	position: absolute;
	top: 33%;
	right: 10%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #d6a37e;
}

.H {
	position: absolute;
	top: 33%;
	right: 33%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #d28e4d;
}

.I {
	position: absolute;
	top: 48%;
	right: 10%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #bd826d;
}

.J {
	position: absolute;
	top: 48%;
	right: 33%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #bd7b52;
}

.K {
	position: absolute;
	top: 63%;
	right: 10%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #87563f;
}

.L {
	position: absolute;
	top: 63%;
	right: 33%;
    color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #54200f;
}







.a {
	background-color: #fdefd6;
	top: 30%;
	left: 15%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.b {
	background-color: #fadbac;
	top: 30%;
	left: 25%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.c {
	background-color: #f7dabd;
	top: 45%;
	left: 15%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.d {
	background-color: #ecb07d;
	top: 45%;
	left: 25%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.e {
	background-color: #edbc9b;
	top: 60%;
	left: 15%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.f {
	background-color: #df9c5d;
	top: 60%;
	left: 25%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}






.g {
	background-color: #d6a37e;
	top: 30%;
	right: 15%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.h {
	background-color: #d28e4d;
	top: 30%;
	right: 25%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.i {
	background-color: #bd826d;
	top: 45%;
	right: 15%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.j {
	background-color: #bd7b52;
	top: 45%;
	right: 25%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.k {
	background-color: #87563f;
	top: 60%;
	right: 15%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.l {
	background-color: #54200f;
	top: 60%;
	right: 25%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}
