canvas {
    height:100%;
    width:100%;

    display: block;
    background-image: url("https://i.pinimg.com/originals/14/95/b4/1495b4d083f28bc6c829ca265788cbbc.gif");
  	background-size: cover;
  }