 #box1 {
        width: 900px;
        height: 50px;
        background-color: #fbdcce;
        position: absolute;
        left: 10%;
        top: 50%;
        -ms-transform: rotate(20deg); /* IE 9 */
        -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
        transform: rotate(20deg);
        opacity: 0.5;
    }  
    
  #box2 {
        width: 900px;
        height: 50px;
        background-color: #afdfdb;
        position: absolute;
        left: 10%;
        top: 50%;
        -ms-transform: rotate(-20deg); /* IE 9 */
        -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
        transform: rotate(-20deg);
         opacity: 0.5;
    }

