#roomtone {
	position: absolute;
	left: 0%;
	top: 100%;
	font-weight: 800;

}


/*--------------------------------------*/


.color {
	margin:0 auto;
		display: flex;
		flex-wrap: wrap;
		width: 5in;
		top: 25%;
		position: absolute;
		left: 35%;
	}

	.block {
		 display: flex;
	    margin: 0px 0;
	    width: 8px;
	    height: 320px;
	    align-items: center;
	    justify-content: center;
	}

	.block:hover {
		height: 300px;
	}


	.b1 {
		background-color: #BC2D1B;
	}
	.b2 {
		background-color: #A13E4B;
	}
	.b3 {
		background-color: #A34345;
	}
	.b4 {
		background-color: #C73922;
	}
	.b5 {
		background-color: #B13233;
	}
	.b6 {
		background-color: #C36851;
	}
	.b7 {
		background-color: #B14739;
	}
	.b8 {
		background-color: #F58581;
	}
	.b9 {
		background-color: #DB827B;
	}
	.b10 {
		background-color: #D4A37C;
	}
	.b11 {
		background-color: #CFA898;
	}
	.b12 {
		background-color: #E4A5B8;
	}
	.b13 {
		background-color: #D09747;
	}
	.b14 {
		background-color: #D4912F;
	}
	.b15 {
		background-color: #DAA968;
	}
	.b16 {
		background-color: #DAA968;
	}
	.b17 {
		background-color: #FFDF00;
	}
	.b18 {
		background-color: #D3ED92;
	}
	.b19 {
		background-color: #C6C75E;
	}
	.b20 {
		background-color: #519D5D;
	}
	.b21 {
		background-color: #4C6A5E;
	}
	.b22 {
		background-color: #313B33;
	}
	.b23 {
		background-color: #443B12;
	}
	.b24 {
		background-color: #898EA3;
	}
	.b25 {
		background-color: #8D8BA2;
	}
	.b26 {
		background-color: #6CB9EC;
	}
	.b27 {
		background-color: #304387;
	}
	.b28 {
		background-color: #22256A;
	}
	.b29 {
		background-color: #2C1D9E;
	}
	.b30 {
		background-color: #9EA5B9;
	}
	.b31 {
		background-color: #4F5E71;
	}
	.b32 {
		background-color: #5A6078;
	}
	.b33 {
		background-color: #7D6A70;
	}
	.b34 {
		background-color: #25181F;
	}
	.b35 {
		background-color: #3E231C;
	}
	.b36 {
		background-color: #6F6D70;
	}
	.b37 {
		background-color: #D2C5B1;
	}
	.b38 {
		background-color: #D9D4D8;
	}
	.b39 {
		background-color: #DACDC4;
	}
	.b40 {
		background-color: #F0E4CE;
	}
	
	