body {
	background-image: url("https://i.pinimg.com/originals/14/95/b4/1495b4d083f28bc6c829ca265788cbbc.gif");
	background-size:     cover;                     
}

h6 {
	position: absolute;
    color: violet;
    top: 5%;
    left: 40%;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 60px;
    font-style: italic;
    font-variant: normal;
    font-weight: 40;
    line-height: 80px;
}

#eyes1 {
	transform: rotate(90deg);
	width:50%;
	height:130%;
	top: -15%;
	left:25%;
	position: absolute;
}

marquee{
	border: 0px solid;
	position: absolute; 
	top:40%; 
	left:0%; 
	z-index: 3;
	width: 100%;
	
}

marquee img {
	width: 300px;
	height: 300px;
	opacity: 0.5;
	border-radius: 50%;
	transition:;
}

marquee img:hover {
	width: 400px;
	height: 400px;
	opacity: 1;
	border-radius: 50%;
	transition:2s;

}